
@font-face {
  font-family: BIGJOHN;
  src: url(fonts/BIGJOHN.otf);
}
@font-face {
  font-family: SlimJoe;
  src: url(fonts/SlimJoe.otf);
}
@font-face {
  font-family: KlinicSlabLight;
  src: url(fonts/KlinicSlabLight.otf);
}
@font-face {
  font-family: KlinicSlabLightIt;
  src: url(fonts/KlinicSlabLightIt.otf);
}
@font-face {
  font-family: DenseRegular;
  src: url(fonts/Dense-Regular.otf);
}
@font-face {
  font-family: KlinicSlabMedium;
  src: url(fonts/KlinicSlabMedium.otf);
}

html, body, h1, h2, p, header {
  padding: 0;
  margin: 0;
  border: 0;
}

li {
  list-style-type: none;
}

body {
  background-color: white;
}

footer {
  padding: 30px;
  text-align: center;

  font-style: italic;
}

.about-page {
  border-top: 10px solid #597272;
  box-shadow: 5px 5px 20px black;
}

#header-logo {
  text-align: right;
  background-color: #ffffff;
  height: 12%;
}

#header-logo h1 {
  margin-top: 1%;
  margin-right: 1%;

  font-size: 500%;
}
#header-logo h1 b {
  font-weight: normal;
  color: #E63E00;
}

#header-logo h2 {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 2%;

  font-size: 130%;
}

#desc-1 {
  background-size: 100% 102%;
  height: 800px;
}

#desc-2 {
  height: 600px;
  text-align: right;
}

#desc-3 {
  height: 150px;
  text-align: center;
}
