<!doctype html>
<html>
  <head>
    <title>
      PageByPage
    </title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='base.css') }}">
  </head>


  <body>
    <header class="about-page">
      <div id="header-logo">
        <nav>
          <li onclick='window.open("index.html", "_self")'>About</li>
          <li onclick='window.open("team.html", "_self")'>Team</li>
        </nav>
        <h1><b style="font-family=BIGJOHN">Bio</b>Watch</h1>
        <h2>Bringing life and technology together</h2>
        <blockquote>"My preciousss" - Sméagol</blockquote>
      </div>
    </header>

    <main>
      <div id="desc-1">
        <p>
          Our team is bringing to you the <i>next <b>big</b> thing</i>.<br>
          With mobile handshake we've developed a fully <i>bio</i>-integrated watch.<br>
          Deep learning and neural networks.<br>
        </p>
      </div>

      <div id="desc-2">
        <p>Multiple Colors Are Available</p>
      </div>

      <div id="desc-3">
        <p>For sales information contact bigdick69@gmail.com</p>
      </div>
    </main>

    <footer>
      &copy Awesome startup 2014
    </footer>
  </body>
</html>
