<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
		<title>{{page_title}}</title>
	</head>
	<body>
		
		<header class="about-page">
      		<div id="header-logo">
        		<h1><b>Page</b><i>By</i>Page</h1>
       			<h2>The ultimate library</h2>
     		</div>
    	</header>
		
    	<main>
			<div id="main-content">
				<table>
					<tr>
						<td>
							<div class="arrow-container" width=10%>
                <a href={{prev_url}}><input type="image" src="/images/prev_button.png" width=50% class="change-page-arrow"></a>
							</div>
						</td>
						<td>
							<div id="page-display" width=100%>
                <img src={{url}} width=100%>
							</div>
						</td>
						<td>
							<div class="arrow-container" width=10%>
                <a href={{next_url}}><input type="image" src="/images/next_button.png" width=50% class="change-page-arrow"></a>
							</div>
						</td>
					</tr>
				</table>	
			</div>
		</main>
		
		<footer>
      		&copy Awesome startup 2015
    	</footer>
	</body>
</html>
